
<%= form_for(movie) do |f| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('movie.title') %>
    <%= f.text_field :title, {class: "form-control"} %>
  </div>

  <div class="field">
    <%= f.label t('movie.synopsis') %>
    <%= f.text_area :synopsis, {class: "form-control"} %>
  </div>

  <div class="field">
    <%= f.label t('movie.rent_price') %>
    <%= f.text_field :rent_price, {class: "form-control"} %>
  </div>

  <div class="field">
    <%= f.label t('movie.image') %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label t('movie.is_rented') %>
    <%= f.check_box :is_rented %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>



